# project/ 루트 기준 대용량 산출물 제외
/data/
/models/
/outputs/

# shapefile 별도 제외
*.shp
*.shx
*.dbf
*.prj
*.cpg

# 파케/CSV 원본 제외
*.parquet
*.csv

# Jupyter 체크포인트
.ipynb_checkpoints/

# PyCharm / IntelliJ 설정
.idea/

# OS 파일
.DS_Store
Thumbs.db

__pycache__/
*.pyc